{% extends 'base.html.twig' %}

{% block title %}DicePals | ¡Regístrate!{% endblock %}

{% block stylesheets %}    
    <link href="css/bottom.css" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet" />
    <link href="css/general.css" rel="stylesheet" />
{% endblock %}


{% block body %}
    

    <div class="contaioner mt-5">
        <div class="row">
            <div class="col-6 m-auto">
                <h1 class="col-12 mb-5">¡Regístrate ahora, es gratis!</h1>
                {% form_theme registrationForm 'bootstrap_5_horizontal_layout.html.twig' %}
                {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}
                    {{ form_row(registrationForm.agreeTerms) }}

                    <button type="submit" class="btn">Regístrarse</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}
